<div>
    <h4><span class="glyphicon glyphicon-search"></span> Resultado da busca</h4>

    <h4><span class="glyphicon glyphicon-filter"></span> Filtros:</h4>
    <% @types.each do |type| %>
        <%= link_to (t type), search_index_path(:search => @search, :radius => @radius, :type => type), class: 'label label-primary' %>
    <% end %>
    <%= link_to 'mostrar todos os resultados', search_index_path(:search => @search, :radius => @radius, :type => 'all'), class: 'label label-success' %>

</div>

<br>

<table class="table table-hover">

    <tbody>
    <% @results.each do |result| %>
        <tr>
            <td width="50">
                <img src=<%= result['icon'] %>>
            </td>

            <td>
                <h5>
                    <%= link_to result['name'], search_show_path(:origin_id => @origin_id, :place_id => result['place_id']) %>
                    <br>
                    <small><%= result['vicinity'] %></small>
                </h5>

                <% result['types'].each do |type| %>
                    <span class='label label-info'><%= t type %></span>
                <% end %>

                <% if result['opening_hours'] != nil %>
                    <span class='label label-success'><%= 'aberto agora' if result['opening_hours']['open_now'] %></span>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<%= link_to 'Voltar', :back, class: 'btn btn-default' %>
<% if @next_page_token %>
    <%= link_to 'Próxima Página', search_index_path(:page_token => @next_page_token), class: 'btn btn-primary' %>
<% end %>


