<div>
    <h2>Painel do Usuário</h2>

    <br>
    <%= render :partial => '/search/search' %>

</div>

<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome e endereço do local</th>
      <th>Comentário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userdata.each do |userdatum| %>
      <tr>
        <td><%= userdatum.name %></td>
        <td><%= userdatum.comment %></td>
        <td><%= link_to 'Mostrar', userdatum, class: 'btn btn-success' %></td>
        <td><%= link_to 'Editar', edit_userdatum_path(userdatum), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Apagar', userdatum, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
