<h3>Perfil Público</h3>
<div class="row">
    <div class="col-md-6">
        <p>Nome: <%= @user.name if @user.name %></p>
        <p>Email: <%= @user.email if @user.email %></p>
    </div>
    <div class="col-md-1">
        <%= link_to "Adicionar amigo", add_friend_path, {class: "btn btn-default"} %>
    </div>
</div>


<div class="container" style="background-color: whitesmoke">
    <%= render :partial => 'userdata/userdata_list' %>
</div>

<br>

<div class="container" style="background-color: whitesmoke">
    <h3>Análises</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Local</th>
            <th>Comentário</th>
            <th>Nota</th>
        </tr>
        </thead>
        <tbody>
        <% @reviews.each do |review| %>
            <tr>
                <td><%= link_to GoogleApi.place_details(review.place_id)['name'], search_show_path(review.place_id) %></td>
                <td><%= review.comment %></td>
                <td><%= review.rate %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

<br>

<div class="container" style="background-color: whitesmoke">
    <%= render :partial => 'friends' %>
</div>