<h4><span class="glyphicon glyphicon-comment"></span> Análises</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="1"></th>
        <th>Local</th>
        <th>Comentário Público</th>
        <th>Avaliação</th>
        <th colspan="5"></th>
    </tr>
    </thead>
    <tbody>
    <% @reviews.each do |review| %>
        <tr>
            <td width="50"><img src=<%= GoogleApi.place_details(review.place_id)['icon'] %>></td>
            <td><%= link_to GoogleApi.place_details(review.place_id)['name'], search_show_path(:place_id => review.place_id) %></td>
            <td><%= review.comment %></td>
            <td><%= review.rate %></td>

            <% if current_user %>
                <% if review.user_id == current_user.id or current_user.admin %>
                    <td class="text-right">
                        <%= link_to 'Editar', edit_review_path(review), class: 'btn btn-warning' %>
                        <%= link_to 'Apagar', review, method: :delete, data: {confirm: 'Você tem certeza?'}, class: 'btn btn-danger' %>
                    </td>
                <% end %>
            <% else %>
                <th colspan="4"></th>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>
