<% if user_signed_in? %>
  <li><%= link_to 'Editar conta', edit_user_registration_path %></li>
  <li><%= link_to 'Sair', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Entrar', new_user_session_path %></li>
  <li><%= link_to 'Registrar', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Usuários', users_path %></li>
  <li><%= link_to 'Notificações', user_notifications_path(user_id: User.encrypt(current_user.id)) %></li>
  <li><%= link_to 'Amigos', friends_path %></li>
<% end %>
